@model n01642795Cumulative1.Models.ViewModels.ShowTeacher
@{
    ViewBag.Title = "Update";
}

<!--A view which uses server rendering to display a teacher from the database and allows users to make changes to the teacher information-->
<!--client side validation - ensure user doesn't submit a form with invalid or missing information-->
<!--using javascript to validate input text-->
<script>
    function validateTeacherForm() {
        validTeacherData = true;

        // get html form elements
        var TeacherFname = document.getElementById("TeacherFname").value;
        var TeacherLname = document.getElementById("TeacherLname").value;
        var EmployeeNumber = document.getElementById("EmployeeNumber").value;
        var HireDate = document.getElementById("HireDate").value;
        var Salary = document.getElementById("Salary").value;
        var FnameError = document.getElementById("FnameError");
        var LnameError = document.getElementById("LnameError");
        var EmployeeNumberError = document.getElementById("EmployeeNumberError");
        var HireDateError = document.getElementById("HireDateError");
        var SalaryError = document.getElementById("SalaryError");

        if (TeacherFname === "") {
            FnameError.style.display = "block";
            validTeacherData = false;
        } else {
            FnameError.style.display = "none";
        }

        if (TeacherLname === "") {
            LnameError.style.display = "block";
            validTeacherData = false;
        } else {
            LnameError.style.display = "none";
        }

        if (EmployeeNumber === "") {
            EmployeeNumberError.style.display = "block";
            validTeacherData = false;
        } else {
            EmployeeNumberError.style.display = "none";
        }

        // regex expression to check if hire date is in datetime format
        var hireDateExpression = /^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$/;

        if (!hireDateExpression.test(HireDate)) {
            HireDateError.style.display = "block";
            validTeacherData = false;
        } else {
            HireDateError.style.display = "none";
        }

        var SalaryParsed = parseFloat(Salary);

        if (Salary === "" || isNaN(SalaryParsed)) {
            SalaryError.style.display = "block";
            validTeacherData = false;
        } else {
            SalaryError.style.display = "none";
        }


        if (validTeacherData === false) {
            return false; // don't submit if a field is invalid/missing
        } else {
            return true;
        }
    }
</script>

<nav>
    <a href="/Teacher/List">Teachers</a>
    <a href="/Course/List">Classes</a>
    <a href="/Student/List">Students</a>
</nav>

<h2>Edit Teacher Information</h2>

<a href="/Teacher/Show/@Model.Teacher.TeacherId">Back</a>

<!--call function to validate form when submitted-->
<form onsubmit="return validateTeacherForm()" method="POST" action="/Teacher/Update/@Model.Teacher.TeacherId">
    <div>
        <label for="TeacherFname">First name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.Teacher.TeacherFname" />
    </div>

    <div>
        <label for="TeacherLname">Last name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.Teacher.TeacherLname" />
    </div>

    <div>
        <label for="EmployeeNumber">Employee number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.Teacher.EmployeeNumber" />
    </div>

    <div>
        <label for="HireDate">Hire date:</label>
        <input type="text" id="HireDate" name="HireDate" value="@Model.Teacher.HireDate" />
    </div>

    <div>
        <label for="Salary">Salary:</label>
        <input type="text" id="Salary" name="Salary" value="@Model.Teacher.Salary" />

    </div>
    <div>
        <input type="submit" value="Update teacher" />
    </div>
</form>
<!-- error messages -->
<p id="FnameError" style="display:none; color: red;">Please enter a first name.</p>
<p id="LnameError" style="display:none; color: red;">Please enter a last name.</p>
<p id="EmployeeNumberError" style="display:none; color: red;">Please enter an employee number.</p>
<p id="HireDateError" style="display:none; color: red;">Please enter a valid hire date.</p>
<p id="SalaryError" style="display:none; color: red;">Please enter a valid salary.</p>

